.community-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.communities-items {
  display: flex;
  flex-wrap: wrap;
}

.community {
  margin: 0 3em 0 0;
}

.community-events {
  padding: 0 3em 0 3em;
}